<div class="container">
    <div class="row">
        <!-- form to search for a charging station -->
        <div class="col-lg-6">
            <h4>Look for a Charging Station?</h4>
            <form id="address-form">
                <div class="mb-3">
                    <label for="addressInput" class="form-label">Input, city, zip code, partial address or full address:</label>
                    <input type="text" class="form-control" id="addressInput" aria-describedby="address input">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <!-- map to display charging stations -->
        <div class="col-lg-6">
            <div id="map" data-stations="{{stations}}"></div>
        </div>
    </div>



</div>

<script src="/js/homepage.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap&v=weekly" defer></script>