<!-- help message -->
<div class="sub-heading d-flex flex-column align-items-center my-3">
    <h4><em>Pleae login to gain full access of this application.</em></h2>
</div>

<!-- Login form -->
<div class="container d-flex flex-column">
  <!-- Login form header -->
  <div class="title px-5 pt-3 pb-2">
    <h3>Login</h3>
  </div>
  <!-- Login form body -->
  <form class="login-form p-5">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <!-- Login form footer -->
  <div class="px-1 py-3">
    <p>Don't have an account yet? 
      <a href="/signup">Sign up now</a>
    </p>
  </div>
</div>

<script src="/js/login.js"></script>