<!-- My Reservations -->
<div class="d-flex flex-column align-items-center mb-3">
  {{#if reservations.length}}
    <h1 class="sub-heading">My Reservations:</h1>
  {{else}}
    <em>
      <h5 class="sub-heading">You haven't had any Reservations yet!</h5>
    </em>
    <em>
      <h5 class="sub-heading">Select Charging Station on the home page!</h5>
    </em>
  {{/if}}
</div>
{{!-- render if posts are not empty --}}
{{#if reservations.length}}
  {{!-- Loop over each object in the posts array --}}
  {{#each reservations as |reservation| }}
  <div class="row post">
    <div class="col">
      <!-- post title -->
        <div class="title px-3 pt-3 pb-2 d-flex justify-content-between align-items-end flex-wrap ">
          <h3>{{format_date reservation.reservation_date}}, {{format_time reservation.reservation_time}}</h3>
        </div>
      <!-- trimmed post content -->
      <div class="px-3 py-2">
        <p></p>
      </div>
    </div>
  </div>
  {{/each}}
{{/if}}
