<div class="sub-heading d-flex flex-column align-items-center my-3">
  <h4><em>Want to earn some money from your station while you're not using it?</em></h4>
</div>

<div class="container d-flex flex-column">
  <div class="title px-5 pt-3 pb-2">
    <h2 id="user_info" data-userId={{user_id}}>Register Your Station Here!</h2>
  </div>


  <form class="form signup-form">
      <div class="form-group">
        <label for="owner-register">Owner Name :</label>
        <input class="form-input" type="text" id="owner-register" />
      </div>
      <div class="form-group">
        <label for="adress-register">Station-Address :</label>
        <input class="form-input" type="text" id="adress-register" />
      </div>
      <div class="form-group">
        <label for="city-register">Station-City :</label>
        <input class="form-input" type="text" id="city-register" />
      </div>
      <div class="form-group">
        <label for="State-register">Station-State :</label>
        <input class="form-input" type="text" id="State-register" />
      </div>
      <div class="form-group">
        <label for="zipcode-register">Station-Zip Code :</label>
        <input class="form-input" type="text" id="zipcode-register" />
      </div>
      <div class="form-group">
        <label for="password-signup">Station type :</label>
        <input class="form-input" type="text" id="stationtype-register" />
      </div>
      <div class="form-group">
        <label for="plugins-register">Plug-in types :</label>
        <input class="form-input" type="text" id="plugins-register" />
      </div>
      <div class="form-group">
        <label for="availability-register" class="form-drop">Station Availability :</label>
        <input class="form-drop" type="text" id="availability-register" />
      </div>
      <div class="form-group">
        <label for="price-register">Station-Price :</label>
        <input class="form-input" type="currency" id="price-register" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register Your Station</button>
      </div>
    </form>
  </div>
</div>
<script src="/public/js/newStation"></script>