<div class="sub-heading d-flex flex-column align-items-center my-3">
  <h4><em>Want to earn some money from your station while you're not using it?</em></h4>
</div>

<div class="container d-flex flex-column">
  <div class="title px-5 pt-3 pb-2">
    <h2 id="user-info" data-userid={{user_id}}>Register Your Station Here!</h2>
  </div>


  <form class="form signup-form">
      <div class="form-group">
        <label for="name">Owner Name :</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="adress">Station-Address :</label>
        <input class="form-input" type="text" id="adress" />
      </div>
      <div class="form-group">
        <label for="city">Station-City :</label>
        <input class="form-input" type="text" id="city" />
      </div>
      <div class="form-group">
        <label for="state">Station-State :</label>
        <input class="form-input" type="text" id="state" />
      </div>
      <div class="form-group">
        <label for="zip">Station-Zip Code :</label>
        <input class="form-input" type="text" id="zip" />
      </div>
      <div class="form-group">
        <label for="station_type">Station type :</label>
        <select name="station_type" id="station_type">
          <option value=“Level-1”>Level 1 (120-Volt)</option>
          <option value=“Level-2”>Level 2 (240-Volt)</option>
          <option value=“Level-3”>Level 3 (DC FastCharge)</option>
        </select>
      </div>
      <div class="form-group">
        <label for="plug_in_type">Plug-in types :</label>
        <select name="plug_in_type" id="plug_in_type">
          <option value="J1772"> J1772 Connector</option>
          <option value="Tesla"> Tesla Connector</option>
          <option value="CCS"> CCS Connector</option>
          <option value="CHAdeMO"> CHAdeMO Connector</option>
        </select>
      </div>
      <div class="form-group">
        <label for="availability-register" class="form-drop">Station Availability :</label>
        <input class="form-drop" type="text" id="availability-register" />
      </div>
      {{!-- <div class="form-group">
        <label for="price-register">Station-Price :</label>
        <input class="form-input" type="currency" id="price-register" />
      </div> --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register Your Station</button>
      </div>
    </form>
  </div>
</div>
<script src="/public/js/newStation"></script>