<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EV-2-GO</title>
  <link href="https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<form class="form signup-form">
      <div class="form-group">
        <label for="owner-register">Owner Name :</label>
        <input class="form-input" type="text" id="owner-register" />
      </div>
      <div class="form-group">
        <label for="adress-register">Station-Address :</label>
        <input class="form-input" type="text" id="adress-register" />
      </div>
      <div class="form-group">
        <label for="password-signup">Station type :</label>
        <input class="form-input" type="password" id="stationtype-register" />
      </div>
      <div class="form-group">
        <label for="plugins-register">Plug-in types :</label>
        <input class="form-input" type="password" id="plugins-register" />
      </div>
      <div class="form-group">
        <label for="availability-register">Station Availability :</label>
        <input class="form-input" type="availability" id="availability-register" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register Your Station</button>
      </div>
    </form>
  </div>
</div>

<script src="/public/js/register.js"></script>