<div class="row">
  <div class="col-md-6">
    <h2>Reservation</h2>

    <form class="form reservation-form">
      <div class="form-group">
        <label for="date-reserve">Date:</label>
        <input class="form-input" type="text" id="date-reserve" />
      </div>
      <div class="form-group">
        <label for="length-reserve">Duration:</label>
        <input class="form-input" type="text" id="length-reserve" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">reserve</button>
        <a type="button" href="/reserve">Want to Reserve? Reserve Here!</a>
      </div>
    </form>
  </div>
  <div class="col-md-6">

    <script src="/public/js/reservation.js"></script>